body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 230, 240);
    color: black
}

.game-board {
    display: grid;
    gap: 1px;
    width: 50vw;
    height: 50vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 15px;
    background-color: black;
}

.game-div {
    width: auto;
    height: auto;
    padding:  1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-radius: 15px;
    background-color: rgb(22, 58, 123);
}

.playerturn {
    margin: 10px;
    font-size: 24px;
}

.player-display {
    width: 60vw;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        'turn turn turn'
        'playerone button playertwo'
    ;
}

.playerturn {
    grid-area: turn;
    text-align: center;
}

#player-one {
    grid-area: playerone;
}

#player-two {
    grid-area: playertwo;
}

.player-panel {
    margin: 0 10px;
    justify-self: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
}

.win-announcement {
    position: absolute;
    height: 15vh;
    width: 20vw;
    border-radius: 15px;
    background-color: rgb(212, 48, 119);
    top: -20%;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    transition: all 2s ease;
}

.win-announcement > button {
    border: 1px solid black;
    border-radius: 10px;
    height: 20px;
    background-color: rgb(212, 48, 119);
}

.win-announcement > div {
    height: 10vh;
    width: 18vw;
    text-align: center;
}

.player-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


#control-panel {
    grid-area: button;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

#control-panel button {
    border-radius: 10px;
    border: none;
    height: 50px;
    width: 150px;
    background-color: rgb(212, 48, 119);
}

#control-panel input {
    width: 150px;
}

.player-display input {
    border-radius: 10px;
    border: none;
    text-align: center;
}
#yes-win {
    position: absolute;
    top: 20%;
    left: 40%;
}
